
<h1>Welcome To Bus Ticket Booking Web Application</h1>

<p>
	<%=link_to "Book Ticket" ,booktickets_index_path %>
</p>
<p>
	Cancel Ticket
</p>
<% if user_signed_in? %> 
 <div> <%= current_user.email %> </div> 
  
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

 <%= form_tag welcome_search_bus_route_path , method: "get" do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
  <% end %>
  
  <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Bus Route</th>&emsp;
      <th>First Bus</th>&emsp;
      <th>Last Bus</th>&emsp;
      
      <!-- <th colspan="2"></th> -->
    </tr>
  </thead>
<tbody>

    <% @busroute.all.each do |busroute| %>
        <tr>
          <td>
          	<% if busroute.route == "Thrissur to Ernakulam" %>
            	<%= link_to busroute.route, booktickets_thrtoekm_path %>
            <% elsif busroute.route == "Ernakulam to Thiruvananthapuram" %>
            	<%= link_to busroute.route, booktickets_ekmtotvm_path %>
            <% elsif busroute.route == "Ernakulam to Thrissur" %>
            	<%= link_to busroute.route, booktickets_ekmtothr_path %>
            <% else %>
            	<%= busroute.route %>
            <% end %>

          </td>

          <td>
            <%= busroute.first_bus %>
          </td>

          <td>
            <%= busroute.last_bus %>
          </td>
      
        </tr>   
  
	<% end %>



</tbody>
</table>




